.btns {
  display: inline-block;
  background: none;
  padding: 11px 30px;
  color: #fff;
  background: #ccc;
  opacity: 1;
  cursor: pointer;
  transition: all .25s;
  position: relative;
  font-size: 12px;
  text-align: center;
  border-radius: 0;
  border: none;
  font-weight: bold;
  &:hover{
    text-decoration: none;
    color: #fff;
  }
  &:active{
    text-decoration: none;
    color: #fff;
  }
}

