/*scss/organisms/_headerMain.scss*/


.headerMain{
  padding: 15px;
}

.headerMain__inner{
  max-width: 1200px;
  margin: auto;

}





.headerMain__item-logo{
  @include col($four);
}
.headerMain__item-nav{
  @include col($eight);
  text-align: right;
}



@media only screen and (max-width: $navBreak) {
  .headerMain{
    //height: 75px;
  }
}