/* scss/siteHeadings/_boxHeading.scss */

.boxHeadingWrap{
  text-align: center;
}

.boxHeading{
  color: #fff;
  font-weight: normal;
  font-size: 18px;
  letter-spacing: 1px;
  text-align: center;
  padding: 10px 60px;
  display: inline-block;
  text-transform: uppercase;
}